In [1]:
import pandas as pd 
from file_struct import locate_data_, correct_slash
from data_prep import winter_weather
from waterway import list_stuwvak

In [2]:
weather_data = pd.read_csv(locate_data_() + correct_slash() + "full_weather.csv")
weather_data.tail()

,Unnamed: 0,Day,Min temp,Max temp,Avg temp,Wind speed,Precipitation,Date
1298,1303,27,15.8,22.3,18.7,6.1,2.6,2021-07-27
1299,1304,28,14.4,22.1,17.9,10.6,3.2,2021-07-28
1300,1305,29,12.9,21.6,17.3,12.7,0.8,2021-07-29
1301,1306,30,10.3,23.9,17.1,8.2,0.8,2021-07-30
1302,1307,31,13.4,21.1,17.1,12.9,3.0,2021-07-31

In [3]:
weather = winter_weather(locate_data_() + correct_slash())
weather["TIME"] = pd.to_datetime(weather["Date"])
weather.drop(columns=["month", "Date"], inplace = True)

In [4]:
lst_compartments = list_stuwvak('Leijgraaf')
df = pd.read_csv(locate_data_() + correct_slash() + "feature_tables" + correct_slash() + lst_compartments[0] + "_feature_table.csv")
df["TIME"] = pd.to_datetime(pd.to_datetime(df["TIME"]).dt.date)
ready_data = pd.merge(weather, df, on="TIME")
ready_data.drop(columns=["Unnamed: 0", "Day", "STUWVAK"], inplace=True)

In [6]:
from baseline import get_winter_data

test = get_winter_data(lst_compartments[1])
test.head(3)

,Min temp,Max temp,Avg temp,Wind speed,Precipitation,TIME,VERSCHIL,Q
0,4.9,9.0,6.8,15.4,11.8,2018-01-01,0.0,0.646808
1,4.6,8.2,6.2,12.2,4.4,2018-01-02,0.0,0.725779
2,6.4,11.2,8.9,26.7,16.6,2018-01-03,0.0,1.014376

## Exploring the weir compartment's statistics
Looking at compartments in Leijgraaf to identify good/bad data quality compartments

In [4]:
from file_struct import locate_data_, correct_slash
data_path = locate_data_()
s = correct_slash()
compartments = list_stuwvak("Leijgraaf")

In [10]:

comp = compartments[0]
df = pd.read_csv(data_path + s + "feature_tables" + s + comp + "_feature_table.csv")
verschil_stats = df["VERSCHIL"].describe()
q_stats = df["Q"].describe()
df[df["VERSCHIL"] <= 0].shape[0]
verschil_stats[1]
for i in range(1,4):
    print(i)

1
2
3

In [16]:
[i for i in compartments for _ in range(3)]

['211VEL_211N',
 '211VEL_211N',
 '211VEL_211N',
 '211N_211M',
 '211N_211M',
 '211N_211M',
 '211M_211L',
 '211M_211L',
 '211M_211L',
 '211L_211K',
 '211L_211K',
 '211L_211K',
 '211K_211J',
 '211K_211J',
 '211K_211J',
 '211J_211I',
 '211J_211I',
 '211J_211I',
 '211I_211H',
 '211I_211H',
 '211I_211H',
 '211H_211G',
 '211H_211G',
 '211H_211G',
 '211G_211F',
 '211G_211F',
 '211G_211F',
 '211F_211E',
 '211F_211E',
 '211F_211E',
 '211E_211D',
 '211E_211D',
 '211E_211D',
 '211D_211C',
 '211D_211C',
 '211D_211C',
 '211C_211B',
 '211C_211B',
 '211C_211B',
 '211B_211A',
 '211B_211A',
 '211B_211A']

In [15]:
dct_stats = {"Stuwvak":compartments, "v_mean":[], "v_std":[], "v_negatives":[], "q_mean":[], "q_std":[], "q_negatives":[]}

for comp in compartments:
    df = pd.read_csv(data_path + s + "feature_tables" + s + comp + "_feature_table.csv")
    verschil_stats = df["VERSCHIL"].describe()
    q_stats = df["Q"].describe()
    dct_stats["v_mean"].append(verschil_stats["mean"])
    dct_stats["v_std"].append(verschil_stats["std"])
    dct_stats["v_negatives"].append(df[df["VERSCHIL"] <= 0].shape[0])
    dct_stats["q_mean"].append(q_stats["mean"])
    dct_stats["q_std"].append(q_stats["std"])
    dct_stats["q_negatives"].append(df[df["Q"] <= 0].shape[0])


df_summary = pd.DataFrame(dct_stats)
df_summary

        Stuwvak    v_mean     v_std  ...    q_mean     q_std  q_negatives
0   211VEL_211N  0.048025  0.123444  ...  0.555998  0.413567           39
1     211N_211M  0.175096  0.146955  ...  0.636628  0.221624            0
2     211M_211L  0.204599  0.129364  ...  2.556836  2.565410            0
3     211L_211K  0.200540  0.133870  ...  0.553873  0.610101          408
4     211K_211J  0.115033  0.230162  ...  0.893540  0.368289            0
5     211J_211I  0.142565  0.089524  ...  0.496124  0.372252            5
6     211I_211H  0.088524  0.039632  ...  0.992063  0.350311            0
7     211H_211G -0.004645  0.021240  ...  0.903305  0.466546            3
8     211G_211F  0.064830  0.041800  ...  0.508849  0.403207           19
9     211F_211E  0.014924  0.039028  ...  0.531705  0.643727           67
10    211E_211D -0.003820  0.014187  ...  0.606539  0.487375            7
11    211D_211C  0.010228  0.079689  ...  0.584362  0.535223           35
12    211C_211B  0.018941  0.122044  ...  0.530982  0.773725          141
13    211B_211A -0.028700  0.033247  ...  0.889587  1.704037          102

[14 rows x 7 columns]

In [17]:
dct_stats = {"Compartment":[i for i in compartments for _ in range(3)], "value":[], "type":[]}
dct_i = {1:"mean", 2:"std", 3:"negative_values"}

for comp in compartments:
    df = pd.read_csv(data_path + s + "feature_tables" + s + comp + "_feature_table.csv")
    verschil_stats = df["VERSCHIL"].describe()
    for i in range(1,4):
        dct_stats["value"].append(verschil_stats[i])
        dct_stats["type"].append(dct_i[i])

pd.DataFrame(dct_stats)

    Compartment     value             type
0   211VEL_211N  0.048025             mean
1   211VEL_211N  0.123444              std
2   211VEL_211N -0.523824  negative_values
3     211N_211M  0.175096             mean
4     211N_211M  0.146955              std
5     211N_211M -0.086590  negative_values
6     211M_211L  0.204599             mean
7     211M_211L  0.129364              std
8     211M_211L -0.429777  negative_values
9     211L_211K  0.200540             mean
10    211L_211K  0.133870              std
11    211L_211K -0.061088  negative_values
12    211K_211J  0.115033             mean
13    211K_211J  0.230162              std
14    211K_211J -0.527615  negative_values
15    211J_211I  0.142565             mean
16    211J_211I  0.089524              std
17    211J_211I -0.535792  negative_values
18    211I_211H  0.088524             mean
19    211I_211H  0.039632              std
20    211I_211H  0.017032  negative_values
21    211H_211G -0.004645             mean
22    211H_211G  0.021240              std
23    211H_211G -0.300427  negative_values
24    211G_211F  0.064830             mean
25    211G_211F  0.041800              std
26    211G_211F  0.018302  negative_values
27    211F_211E  0.014924             mean
28    211F_211E  0.039028              std
29    211F_211E -0.041187  negative_values
30    211E_211D -0.003820             mean
31    211E_211D  0.014187              std
32    211E_211D -0.038500  negative_values
33    211D_211C  0.010228             mean
34    211D_211C  0.079689              std
35    211D_211C -0.233857  negative_values
36    211C_211B  0.018941             mean
37    211C_211B  0.122044              std
38    211C_211B -0.203479  negative_values
39    211B_211A -0.028700             mean
40    211B_211A  0.033247              std
41    211B_211A -0.681187  negative_values

In [2]:
for year in range(2018, 2022):
    print(year)

2018
2019
2020
2021